.navbar-toggler-icon{
    
    background-color: #82939c  !important;
    border-radius: 4px ;
    color: white;
}
.navbar{
    background-color: #263238 !important;
    border-radius: 4px;
    padding: 0px 10px;

    
}
.nav-link{
    color: white !important;
    font-weight: bold;
    margin: 3px;
    font-size: 15px;
}
.navbar-text{
    margin: 0px 50px;
}
.nav-link:hover{
    background: white;
    color: rgb(46, 43, 226) !important;
    border-radius: 10px;
}
.navbar-brand{
    margin: 0px 30px;
}

.container{
    background-color: #eceff1;
    height: 800px;
}



body{
    background-color:  #eceff1;
    color: rgb(94, 92, 92);
    font-family: Arial, Helvetica, sans-serif;
}













.fa-phone,.fa-envelope-o{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.footer{
    margin-top: 100px;
    background-color: rgb(32, 31, 31);
    color: white;
    height: 260px;
    font-size: 16px;
    line-height: 2.4rem;
    
}
.footer ul li{
    list-style: none;
}
.icon a{
    font-size: 30px;
    margin: 5px;
    color: blue;
}

